@import "tailwindcss";

@theme {
  --color-brand-200: #ebf3e2;
  --color-brand-500: #5c8653;
  --color-warning: #f9a900;
  --color-error: #c50808;

  --font-default: "Inter", sans-serif;
  --font-styled: "Zilla Slab", serif;
  --font-styled-special: "Zilla Slab Highlight", serif;
  --font-heading: "Jersey 20", sans-serif;

  --text-4xl: 2.125rem;
  --text-5xl: 40px;
  --text-6xl: 45px: ;
}

.btn-primary {
  @apply bg-brand-500 font-heading text-brand-200 cursor-pointer p-3 text-3xl tracking-wider uppercase;
}

.popup-actions {
  @apply mt-4 flex w-full flex-col;

  .confirm {
    @apply bg-brand-500 font-default text-brand-200 cursor-pointer p-3 text-2xl uppercase;
  }

  .cancel {
    @apply font-default cursor-pointer border-none pt-3 text-base text-black uppercase hover:underline;
  }

  .warning {
    @apply bg-warning font-default cursor-pointer p-3 text-2xl text-black uppercase;
  }
}
